#catagory-list a {
    color: black;
    padding: 5px;
    background-color: var(--pale-blue);
    border-bottom: 1px solid black;
    border-radius: 2px;
}

#catagory-list a:last-child {
    border-bottom: none;
}

#catagory-list a:hover {
    background-color: var(--grey);
}

.productlist-sidebar {
    width: 15%;
    margin-right: 50px;
}

.product-list-title {
    font-size: 3rem;
    padding: 30px 0px;
    font-weight: normal;
}

.productlist-sidebar-right {
    width: calc(100% - 15%);
}
.productlist-sidebar-right a{
    margin: auto;
    text-align: center;
}
.catagori-divs-items-plist a{
    border: 1px solid var(--grey);
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.185);
}

